body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #efefef;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 80px;

    background: #222;
    color: #dfdfdf;
    border-bottom: 2px solid #fff;
}

.headerTitle {
    width: 250px;
    height: 100%;
    padding: 15px 25px;
    box-sizing: border-box;

    background: #F0830B;
    background: linear-gradient(90deg, rgba(240,131,11,1) 0%, rgba(240,131,11,0) 100%);

    font-size: 2em;
    font-weight: 800;
}

.navbar {
    width: 800px;
    height: 100%;
}

ul.navlist {
    margin: 25px 0;

    font-size: 1.2em;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
}

.navlist li {
    display: inline;
    margin: 0 15px;

    cursor: pointer;
}

.logbar {
    width: 20%;
    height: 100%;

    background: #179EDD;
    background: linear-gradient(90deg, rgba(23,158,221,0) 0%, rgba(23,158,221,1) 100%);
}

main {
    padding: 15px 40px;
}

.thumb {
    width: 100%;
    height: 250px;
    background: url(images/abstract-bar1.jpg);
    background-position: center -390px;
    margin-bottom: 40px;
}

h1 {
    margin: 0 0 15px 45px;

    color: #fff;
    font-size: 2.4em;
    font-weight: 800;
}

h2 {
    margin: 45px 0 15px 0;

    color: #222;
    font-weight: 500;
    border-bottom: 2px dashed #bbb;
}

.manager {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mgrSide {
    width: 48%;
    padding: 15px;
    box-sizing: border-box;

    border-radius: 15px;
    -webkit-box-shadow: 6px 6px 15px -3px rgba(48,49,57,0.7); 
    box-shadow: 6px 6px 15px -3px rgba(48,49,57,0.7);
}

.mgrBar {
    background: #ecd2b6;
}

.mgrOrder {
    background: #b6dbec;
}

.btnPlus {
    width: 240px;
    height: 40px;

    border-radius: 15px;
    border: 2px solid #fff;
    font-weight: 700;
    color: #fff;
    background: #dfdfdf;
    cursor: pointer;
}

.btnPlus:hover {
    border-color: #222;
}

.mgrDescr {
    margin-left: 15px;

    font-weight: 700;
    color: #555;
}

.addBar {
    background: #F0830B;
    background: linear-gradient(90deg, rgba(240,131,11,1) 51%, rgba(236,210,182,1) 100%);
}

.addOrder {
    background: rgb(23,158,221);
    background: linear-gradient(90deg, rgba(23,158,221,1) 51%, rgba(182,219,236,1) 100%);
}

.mgrBarForm, .mgrOrderForm {
    display: none;
    margin-top: 20px;
}

form {
    display: block;
}

label {
    margin-top: 5px;
    margin-left: 15px;

    font-weight: 600;
    color: #555;
}

input {
    width: 80%;
    height: 25px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 2px 0;

    border: 1px solid #dfdfdf;
    border-radius: 120px;
}

.validBtn {
    width: 70px;
    height: 25px;
    margin-top: 10px;

    border: 1px solid #fff;
    border-radius: 10px;
    background: #7ed796;

    font-weight: 700;
    color: #555;
}

.validBtn:hover {
    background: #d1f5db;
    cursor: pointer;
}